.column__head {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #db79d6;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.column__body {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #db79d6;
  min-height: 72px;
  height: 100%;
}

.column {
  background-color: #5c4458;
  opacity: 0.7;
  border-radius: 7px;
  height: 100%;
}

.column {
  width: 300px;
  min-height: 100px;
}

.input__title {
  width: 300px;
  height: 20px;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #db79d6;
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 0;
}